# Ignore everything
/*

# But not these files...
!.gitignore
!.vimrc
!copy-vimfiles-windows.bat

!.vim/
.vim/*

!.vim/autoload/
.vim/autoload/*
!.vim/autoload/gruvbox_material.vim

!.vim/colors/
.vim/colors/*
!.vim/colors/gruvbox-material.vim

!.vim/doc/
.vim/doc/*
!.vim/doc/gruvbox-material.txt

